{% extends 'global/base.html' %}

{% block name_page %}
<script>
    const currentNamePage = "Features";
</script>
{% endblock %}

{% block content %}
<main class="main-content">
    <div class="container">
        <section class="dark-content-box">
            <h1 class="hero">Features</h1>
            <p class="subtitle text-center">Choose the plan that fits your gaming style and enjoy seamless access to advanced tools and features.</p>
            
            <div class="features">
                <div class="feature-card">
                    <h3>Support</h3>
                    <p>Получите круглосуточную техническую поддержку от команды профессионалов, готовых помочь с любыми вопросами и проблемами</p>
                </div>
                
                <div class="feature-card">
                    <h3>Powerful modules</h3>
                    <p>Используйте мощные модули и инструменты, которые делают Phantom лидером в своей области. Гибкость и производительность в каждой функции</p>
                </div>
                
                <div class="feature-card">
                    <h3>Frequent updates</h3>
                    <p>Регулярные обновления обеспечивают постоянное улучшение сервиса, добавление новых функций и исправление ошибок</p>
                </div>
                
                <div class="feature-card">
                    <h3>Pleasant interface</h3>
                    <p>Интуитивно понятный и эстетически приятный интерфейс, созданный с учетом лучших практик UX/UI дизайна</p>
                </div>
                
                <div class="feature-card">
                    <h3>Legit</h3>
                    <p>Полностью легальный продукт, соответствующий всем нормативным требованиям и стандартам безопасности</p>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}


